body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.grid-header {
    background-color: #B1B2FF;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1 {
    font-size: 32px;
    font-weight: 700;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

#add-button {
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    width: 25%;
    padding: 0.5rem;
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
}

#add-button:hover {
    background-color: rgba(170, 196, 255, 0.75);
}

.flex-main {
    display: flex;
    flex: 1;
    background-color: #EEF1FF;
}

/* Add new book */
.new-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    max-height: 300px;
    padding: 1.5rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.new-book > h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.book-field {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

label {
    text-align: start;
}

form > button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.25rem;
    width: 100px;
    margin-top: 1rem;
}

form > button:hover {
    background-color: rgba(200, 200, 200, 0.8);
}
